@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 1 67% 51%;
    --primary-foreground: 60 9% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }
  
  .dark {
    --background: 0 7% 8%;
    --foreground: 60 9% 98%;

    --card: 0 6% 10%;
    --card-foreground: 60 9% 98%;

    --popover: 0 6% 10%;
    --popover-foreground: 60 9% 98%;

    --primary: 1 67% 51%;
    --primary-foreground: 60 9% 98%;

    --secondary: 0 8% 19%;
    --secondary-foreground: 60 9% 98%;

    --muted: 0 7% 29%;
    --muted-foreground: 0 8% 49%;

    --accent: 1 71% 19%;
    --accent-foreground: 60 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 8% 12%;
    --input: 0 9% 18%;
    --ring: 1 67% 40%;
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.transition {
  @apply transition-all duration-150 ease-in-out;
}